.main {
  min-height: 100vh;
}

.dark {
  background-color: #1f2937;
  color: #fff;
}

.light {
  background-color: #fff;
  color: black;
}

.light p,
.light h1,
.light a {
  color: black;
}

.light .toggle,
.light img .logo {
  color: #1f2937;
}

.light .card {
  background-color: #1f2937;
}

.light .card label,
.light .card p {
  color: white;
}

.switch {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.switch label {
  font-size: 10px;
}

.react-switch-bg {
  background: rgb(109, 107, 107) !important;
}