.main {
  min-height: 100vh;
}

.dark {
  background-color: #1f2937;
  color: #fff;
}

.light {
  background-color: #fff;
  color: black;
}

.light p,
.light h1,
.light a {
  color: black;
}

.light .toggle {
  color: #1f2937;
}

.light img {
  fill: #000;
}

.light .card {
  background-color: #1f2937;
}

.light .card label,
.light .card p {
  color: white;
}

.switch {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.light .react-switch-bg {
  background: #1f2937 !important;
}

.dark .react-switch-bg {
  background: white !important;
}

.dark .icon {
  height: 25px;
  width: 25px;
  padding-top: 3px;
  padding-left: 5px;
  color: #1f2937;
}

.light .icon {
  height: 25px;
  width: 25px;
  padding-top: 3px;
  padding-left: 5px;
  color: white;
}

.dark .react-switch-handle {
  background: #1f2937 !important;
}