@tailwind base;
@tailwind components;
@tailwind utilities;


.submit-btn {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.main {
    padding: 30px;
    min-height: 100vh;
}

/* .form-control {
    border: 1px solid black;
} */