.submit-btn {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.main {
    padding: 30px;
}

.css-14el2xx-placeholder {
    color: #565555 !important;
}